<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wheel_dog2">
  <!-- <mujoco>
    <compiler 
      meshdir="/home/asuka/wheel_dog2/stl" 
      balanceinertia="true" 
      discardvisual="false" />
  </mujoco> -->
 <link
    name="base">
    <inertial>
      <origin
        xyz="-0.00349256695864725 0.000234910641451591 -0.0103465291224879"
        rpy="0 0 0" />
      <mass
        value="5.716" />
      <inertia
        ixx="0.024"
        ixy="0.001"
        ixz="-0.000"
        iyy="0.056"
        iyz="-0.000"
        izz="0.067" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
       <box size="0.27 0.126 0.1" />
      </geometry>
    </collision>
  </link>
  <link
    name="FL_hip">
    <inertial>
      <origin
        xyz="0.0544563981000604 -0.0122230494548459 -3.33185672222458E-05"
        rpy="0 0 0" />
      <mass
        value="0.729266" />
      <inertia
        ixx="0.000540"
        ixy="0.000010"
        ixz="0.000001"
        iyy="0.000972"
        iyz="0.000021"
        izz="0.000666" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/FL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="0.064 0.04 0" />
      <geometry>
        <cylinder length="0.08" radius="0.046" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_hip_joint"
    type="revolute">
    <origin
      xyz="0.138 0.063 0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="FL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1."
      upper="1."
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="FL_thigh">
    <inertial>
      <origin
        xyz="-0.00209130800270174 -0.0157512217881884 -0.0357313445456687"
        rpy="0 0 0" />
      <mass
        value="1.005889" />
      <inertia
        ixx="0.004460"
        ixy="0.000038"
        ixz="-0.000154"
        iyy="0.004619"
        iyz="0.000793"
        izz="0.000968" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/FL_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.5707963267948966 0" xyz="-0.015 0 -0.11" />
      <geometry>
        <box size="0.1 0.02 0.03" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_thigh_joint"
    type="revolute">
    <origin
      xyz="0.064 0.0673 0"
      rpy="0 0 0" />
    <parent
      link="FL_hip" />
    <child
      link="FL_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5"
      upper="2.5"
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="FL_calf">
    <inertial>
      <origin
        xyz="0.0121543643096624 5.42396521357735E-05 -0.0905677103352009"
        rpy="0 0 0" />
      <mass
        value="0.272152" />
      <inertia
        ixx="0.001378"
        ixy="0.0"
        ixz="0.000135"
        iyy="0.001426"
        iyz="0.000001"
        izz="0.000096" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/FL_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 -0.21 0" xyz="0.008 0 -0.06" />
      <geometry>
        <cylinder length="0.12" radius="0.012" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.213"
      rpy="0 0 0" />
    <parent
      link="FL_thigh" />
    <child
      link="FL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.5"
      upper="-0.8"
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="FL_calflower">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder length="0.065" radius="0.011" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_calflower_joint"
    type="fixed">
    <origin
      xyz="0.020 0 -0.148"
      rpy="0 0.05 0" />
    <parent
      link="FL_calf" />
    <child
      link="FL_calflower" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FL_calflower1">
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.03" radius="0.0155" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_calflower1_joint"
    type="fixed">
    <origin
      xyz="-0.01 0 -0.04"
      rpy="0 0.48 0" />
    <parent
      link="FL_calflower" />
    <child
      link="FL_calflower1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FL_foot_motor">
    <inertial>
      <origin
        xyz="-5.97728656354657E-05 4.53860178391552E-05 -0.226004710693511"
        rpy="0 0 0" />
      <mass
        value="0.570000" />
      <inertia
        ixx="0.000382"
        ixy="0.0"
        ixz="0.0"
        iyy="0.000664"
        iyz="-0.00000"
        izz="0.000382" />
    </inertial>
      <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/FL_foot_motor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="0 0 -0.2264" />
      <geometry>
        <cylinder length="0.05" radius="0.05" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_foot_motor_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="FL_calf" />
    <child
      link="FL_foot_motor" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FL_foot">
    <inertial>
      <origin
        xyz="9.25955115255173E-06 0.0433518469939851 -8.54889331579622E-05"
        rpy="0 0 0" />
      <mass
        value="0.54" />
      <inertia
        ixx="0.001185"
        ixy="0.00000"
        ixz="-0.00000"
        iyy="0.002112"
        iyz="0.00000"
        izz="0.001185" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/FL_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.0445 0"
        rpy="1.5707963267948966 0 0" />
      <geometry>
          <cylinder length="0.04" radius="0.1" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_foot_joint"
    type="continuous">
    <origin
      xyz="0 0 -0.226000000000004"
      rpy="0 0 0" />
    <parent
      link="FL_calf" />
    <child
      link="FL_foot" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="20"
      velocity="40" />
  </joint>

  <link
    name="FR_hip">
    <inertial>
      <origin
        xyz="0.0544563981000606 0.0122230494548458 3.33185672212188E-05"
        rpy="0 0 0" />
      <mass
        value="0.72926" />
      <inertia
        ixx="0.000540"
        ixy="-0.000011"
        ixz="-0.000000"
        iyy="0.000973"
        iyz="-0.000000"
        izz="0.000664" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/FR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="0.064 -0.04 0" />
      <geometry>
        <cylinder length="0.08" radius="0.046" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_hip_joint"
    type="revolute">
    <origin
      xyz="0.138 -0.063 0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="FR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1."
      upper="1."
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="FR_thigh">
    <inertial>
      <origin
        xyz="-0.00179872498750472 0.0157556929216269 -0.036136855994278"
        rpy="0 0 0" />
      <mass
        value="1.020690" />
      <inertia
        ixx="0.004591"
        ixy="-0.000021"
        ixz="-0.0001515"
        iyy="0.004849"
        iyz="-0.000536"
        izz="0.000892" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/FR_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.5707963267948966 0" xyz="-0.015 0 -0.11" />
      <geometry>
        <box size="0.1 0.02 0.03" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_thigh_joint"
    type="revolute">
    <origin
      xyz="0.064 -0.0673 0"
      rpy="0 0 0" />
    <parent
      link="FR_hip" />
    <child
      link="FR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5"
      upper="2.5"
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="FR_calf">
    <inertial>
      <origin
        xyz="0.0121543656785346 -5.42826460830925E-05 -0.0905676823601491"
        rpy="0 0 0" />
      <mass
        value="0.272152" />
      <inertia
        ixx="0.001378"
        ixy="0.0"
        ixz="0.000135"
        iyy="0.001426"
        iyz="-0.000001"
        izz="0.000096" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/FR_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 -0.21 0" xyz="0.008 0 -0.06" />
      <geometry>
        <cylinder length="0.12" radius="0.012" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.213"
      rpy="0 0 0" />
    <parent
      link="FR_thigh" />
    <child
      link="FR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.5"
      upper="-0.8"
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="FR_calflower">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder length="0.065" radius="0.011" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_calflower_joint"
    type="fixed">
    <origin
      xyz="0.020 0 -0.148"
      rpy="0 0.05 0" />
    <parent
      link="FR_calf" />
    <child
      link="FR_calflower" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FR_calflower1">
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.03" radius="0.0155" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_calflower1_joint"
    type="fixed">
    <origin
      xyz="-0.01 0 -0.04"
      rpy="0 0.48 0" />
    <parent
      link="FR_calflower" />
    <child
      link="FR_calflower1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FR_foot_motor">
    <inertial>
      <origin
        xyz="3.89348353002084E-05 -4.53860178392107E-05 -0.22604559676195"
        rpy="0 0 0" />
      <mass
        value="0.57" />
      <inertia
        ixx="0.000382"
        ixy="0.0"
        ixz="0.0"
        iyy="0.000664"
        iyz="0.000000"
        izz="0.000382" />
    </inertial>
      <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/FR_foot_motor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="0 0 -0.2264" />
      <geometry>
        <cylinder length="0.05" radius="0.05" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_foot_motor_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="FR_calf" />
    <child
      link="FR_foot_motor" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FR_foot">
    <inertial>
      <origin
        xyz="-2.87493104156322E-07 -0.00685222114651246 -8.59601993045134E-05"
        rpy="0 0 0" />
      <mass
        value="0.54" />
      <inertia
        ixx="0.001185"
        ixy="0.0"
        ixz="0.0"
        iyy="0.002112"
        iyz="0.0"
        izz="0.001185" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/FR_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.009 0"
        rpy="1.5707963267948966 0 0" />
      <geometry>
          <cylinder length="0.04" radius="0.1" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_foot_joint"
    type="continuous">
    <origin
      xyz="0 -0.0365 -0.226"
      rpy="0 0 0" />
    <parent
      link="FR_calf" />
    <child
      link="FR_foot" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="RL_hip">
    <inertial>
      <origin
        xyz="-0.0544563980901655 -0.0122230494514425 3.331856620023E-05"
        rpy="0 0 0" />
      <mass
        value="0.729266" />
      <inertia
        ixx="0.000540"
        ixy="-0.000011"
        ixz="-0.000000"
        iyy="0.000973"
        iyz="0.000001"
        izz="0.000664" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/RL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="-0.064 0.04 0" />
      <geometry>
        <cylinder length="0.08" radius="0.046" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_hip_joint"
    type="revolute">
    <origin
      xyz="-0.136 0.063 0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="RL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1."
      upper="1."
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="RL_thigh">
    <inertial>
      <origin
        xyz="-0.00209130801473683 -0.0157512217880365 -0.0357313445606814"
        rpy="0 0 0" />
      <mass
        value="1.005889" />
      <inertia
        ixx="0.004460"
        ixy="0.000027"
        ixz="-0.000156"
        iyy="0.004714"
        iyz="0.000524"
        izz="0.000873" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/RL_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.5707963267948966 0" xyz="-0.015 0 -0.11" />
      <geometry>
        <box size="0.1 0.02 0.03" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.064 0.0673 0"
      rpy="0 0 0" />
    <parent
      link="RL_hip" />
    <child
      link="RL_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5"
      upper="2.5"
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="RL_calf">
    <inertial>
      <origin
        xyz="0.0121543650870879 5.42397330333677E-05 -0.0905677120915565"
        rpy="0 0 0" />
      <mass
        value="0.272152" />
      <inertia
        ixx="0.001378"
        ixy="0.0"
        ixz="0.000135"
        iyy="0.001426"
        iyz="0.000001"
        izz="0.000096" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/RL_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 -0.21 0" xyz="0.008 0 -0.06" />
      <geometry>
        <cylinder length="0.12" radius="0.013" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.213"
      rpy="0 0 0" />
    <parent
      link="RL_thigh" />
    <child
      link="RL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.5"
      upper="-0.8"
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="RL_calflower">
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.065" radius="0.011" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_calflower_joint"
    type="fixed">
    <origin
      xyz="0.020 0 -0.148"
      rpy="0 0.05 0" />
    <parent
      link="RL_calf" />
    <child
      link="RL_calflower" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RL_calflower1">
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.03" radius="0.0155" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_calflower1_joint"
    type="fixed">
    <origin
      xyz="-0.01 0 -0.04"
      rpy="0 0.48 0" />
    <parent
      link="RL_calflower" />
    <child
      link="RL_calflower1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RL_foot_motor">
    <inertial>
      <origin
        xyz="-5.97728511738393E-05 4.5386030830985E-05 -0.226004710665221"
        rpy="0 0 0" />
      <mass
        value="0.57" />
      <inertia
        ixx="0.000382"
        ixy="-0.000001"
        ixz="0.0"
        iyy="0.000664"
        iyz="0.0"
        izz="0.000382" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/RL_foot_motor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="0 0 -0.2264" />
    <geometry>
      <cylinder length="0.05" radius="0.05" />
    </geometry>
    </collision>
  </link>
  <joint
    name="RL_foot_motor_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="RL_calf" />
    <child
      link="RL_foot_motor" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RL_foot">
    <inertial>
      <origin
        xyz="-7.22375506524084E-05 0.00685240240501632 -4.73928562159109E-05"
        rpy="0 0 0" />
      <mass
        value="0.54" />
      <inertia
        ixx="0.001185"
        ixy="0.00000"
        ixz="0.00000"
        iyy="0.002112"
        iyz="0.000000"
        izz="0.001185" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/RL_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.009 0"
        rpy="1.5707963267948966 0 0" />
      <geometry>
          <cylinder length="0.04" radius="0.1" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_foot_joint"
    type="continuous">
    <origin
      xyz="0 0.0364999999999994 -0.226000000000005"
      rpy="0 0 0" />
    <parent
      link="RL_calf" />
    <child
      link="RL_foot" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="20"
      velocity="40" />
  </joint>
  
  <link
    name="RR_hip">
    <inertial>
      <origin
        xyz="-0.0544563980901653 0.0122230494514429 -3.3318566200452E-05"
        rpy="0 0 0" />
      <mass
        value="0.729266" />
      <inertia
        ixx="0.000540"
        ixy="0.000010"
        ixz="0.000001"
        iyy="0.000972"
        iyz="0.000021"
        izz="0.000666" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/RR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="-0.064 -0.04 0" />
      <geometry>
        <cylinder length="0.08" radius="0.046" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_hip_joint"
    type="revolute">
    <origin
      xyz="-0.136 -0.063 0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="RR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1."
      upper="1."
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="RR_thigh">
    <inertial>
      <origin
        xyz="-0.00179872498747159 0.0157556929216544 -0.0361368559942862"
        rpy="0 0 0" />
      <mass
        value="1.02069" />
      <inertia
        ixx="0.004591"
        ixy="-0.000021"
        ixz="-0.000151"
        iyy="0.004849"
        iyz="-0.000536"
        izz="0.000892" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/RR_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.5707963267948966 0" xyz="-0.015 0 -0.11" />
      <geometry>
        <box size="0.1 0.02 0.03" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.064 -0.0673 0"
      rpy="0 0 0" />
    <parent
      link="RR_hip" />
    <child
      link="RR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5"
      upper="2.5"
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="RR_calf">
    <inertial>
      <origin
        xyz="0.0121543656785346 -5.42826460830925E-05 -0.0905676823601491"
        rpy="0 0 0" />
      <mass
        value="0.272152" />
      <inertia
        ixx="0.001378"
        ixy="0.0"
        ixz="0.000135"
        iyy="0.001426"
        iyz="-0.000001"
        izz="0.000096" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/RR_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 -0.21 0" xyz="0.008 0 -0.06" />
      <geometry>
        <cylinder length="0.12" radius="0.012" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.213"
      rpy="0 0 0" />
    <parent
      link="RR_thigh" />
    <child
      link="RR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.5"
      upper="-0.8"
      effort="20"
      velocity="40" />
  </joint>
  <link
    name="RR_calflower">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder length="0.065" radius="0.011" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_calflower_joint"
    type="fixed">
    <origin
      xyz="0.020 0 -0.148"
      rpy="0 0.05 0" />
    <parent
      link="RR_calf" />
    <child
      link="RR_calflower" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RR_calflower1">
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.03" radius="0.0155" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_calflower1_joint"
    type="fixed">
    <origin
      xyz="-0.01 0 -0.04"
      rpy="0 0.48 0" />
    <parent
      link="RR_calflower" />
    <child
      link="RR_calflower1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RR_foot_motor">
    <inertial>
      <origin
        xyz="3.89348353002084E-05 -4.53860178392107E-05 -0.22604559676195"
        rpy="0 0 0" />
      <mass
        value="0.57" />
      <inertia
        ixx="0.000382"
        ixy="0.0"
        ixz="0.0"
        iyy="0.000664"
        iyz="0.000000"
        izz="0.000382" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/RR_foot_motor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="0 0 -0.2264" />
      <geometry>
        <cylinder length="0.05" radius="0.05" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_foot_motor_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="RR_calf" />
    <child
      link="RR_foot_motor" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RR_foot">
    <inertial>
      <origin
        xyz="-1.4738981201759E-05 -0.0433522898162916 -8.46819547308253E-05"
        rpy="0 0 0" />
      <mass
        value="0.54" />
      <inertia
        ixx="0.001185"
        ixy="0.0"
        ixz="0.0"
        iyy="0.002112"
        iyz="0.0"
        izz="0.001185" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../mesh/RR_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.0445 0"
        rpy="1.5707963267948966 0 0" />
      <geometry>
          <cylinder length="0.04" radius="0.1" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_foot_joint"
    type="continuous">
    <origin
      xyz="0 0 -0.225999999999994"
      rpy="0 0 0" />
    <parent
      link="RR_calf" />
    <child
      link="RR_foot" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="20"
      velocity="40" />
  </joint>
</robot>