<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="TOE_dog">
  <!-- <mujoco>
  <compiler 
    meshdir="/home/ubuntu/dog/TOE-Dog/robot/TOE_dog/xml/assets" 
    balanceinertia="true" 
    discardvisual="false" />
  </mujoco> -->
  <!-- <link name="world"></link> -->
  <!-- <joint name="world_joint" type="floating">
    <parent link="world" />
    <child link="base" />
  </joint> -->
  <link
    name="base">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="5.1234705" />
      <inertia
        ixx="0.01752351"
        ixy="0.00013383"
        ixz="0.00001858"
        iyy="0.05791253"
        iyz="-0.00032371"
        izz="0.06565058" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.27 0.15 0.114" />
      </geometry>
    </collision>
  </link>
  <!-- <joint name="base_joint" type="floating">
    <parent link="world" />
    <child link="base" />
  </joint> -->
  <link
    name="FL_hip">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.66990104" />
      <inertia
        ixx="0.00054593"
        ixy="0.00000827"
        ixz="0.00000421"
        iyy="0.00085132"
        iyz="0.00000458"
        izz="0.00060958" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_FL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.05 0"
        rpy="1.5708 0 0" />
      <geometry>
        <cylinder length="0.08" radius="0.046" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_hip_joint"
    type="revolute">
    <origin
      xyz="0.2 0.05 0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="FL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1"
      upper="1"
      effort="23"
      velocity="20" />
  </joint>
  <link
    name="FL_thigh">
    <inertial>
      <origin
        xyz="0 -0.0225192600801335 -0.0253114510050126"
        rpy="0 0 0" />
      <mass
        value="1.05418577" />
      <inertia
        ixx="0.00434958"
        ixy="-0.00001840"
        ixz="-0.00002750"
        iyy="0.00404663"
        iyz="0.00080770"
        izz="0.00139077" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_L_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.5707963267948966 0" xyz="-0.005 0 -0.1" />
      <geometry>
        <box size="0.11 0.0245 0.025" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0.08953 0"
      rpy="0 0 0" />
    <parent
      link="FL_hip" />
    <child
      link="FL_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5"
      upper="2.5"
      effort="23"
      velocity="20" />
  </joint>
  <link
    name="FL_calf">
    <inertial>
      <origin
        xyz="0 0 -0.0632711754855739"
        rpy="0 0 0" />
      <mass
        value="0.18000000" />
      <inertia
        ixx="0.00091534"
        ixy="0.00000317"
        ixz="-0.00008945"
        iyy="0.00092537"
        iyz="0.00003646"
        izz="0.00004689" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_calf.STL" />
      </geometry>
      <material 
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 -0.05 0" xyz="0 0 -0.05" />
      <geometry>
        <cylinder length="0.12" radius="0.010" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.18"
      rpy="0 0 0" />
    <parent
      link="FL_thigh" />
    <child
      link="FL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.3"
      upper="-0.8"
      effort="30"
      velocity="20" />
    </joint>
  <link
    name="FL_calflower">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder length="0.07" radius="0.011" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_calflower_joint"
    type="fixed">
    <origin
      xyz="0.005 0 -0.14"
      rpy="0 -0.1 0" />
    <parent
      link="FL_calf" />
    <child
      link="FL_calflower" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FL_calflower1">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder length="0.02" radius="0.0125" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_calflower1_joint"
    type="fixed">
    <origin
      xyz="-0.002 0 -0.042"
      rpy="0 0.3 0" />
    <parent
      link="FL_calflower" />
    <child
      link="FL_calflower1" />
    <axis
      xyz="0 0 0" />
      </joint>
  <link
    name="FL_foot">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.04" />
      <inertia
        ixx="9.6e-06"
        ixy="0"
        ixz="0"
        iyy="9.6e-06"
        iyz="0"
        izz="9.6e-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.002 0 0" />
      <geometry>
        <sphere radius="0.022" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0 0 -0.20051"
      rpy="0 0 0" />
    <parent
      link="FL_calf" />
    <child
      link="FL_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FR_hip">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.66990104" />
      <inertia
        ixx="0.00054593"
        ixy="-0.00000827"
        ixz="-0.00000421"
        iyy="0.00085132"
        iyz="0.00000458"
        izz="0.00060958" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_FR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="0 -0.05 0" />
      <geometry>
        <cylinder length="0.08" radius="0.046" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_hip_joint"
    type="revolute">
    <origin
      xyz="0.2 -0.05 0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="FR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1"
      upper="1"
      effort="23"
      velocity="20" />
  </joint>
  <link
    name="FR_thigh">
    <inertial>
      <origin
        xyz="0 0.022389 -0.026316"
        rpy="0 0 0" />
      <mass
        value="1.05822138" />
      <inertia
        ixx="0.00434958"
        ixy="-0.00001840"
        ixz="-0.00002750"
        iyy="0.00404663"
        iyz="-0.00080770"
        izz="0.00139077" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_R_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.5707963267948966 0" xyz="-0.005 0 -0.1" />
      <geometry>
        <box size="0.11 0.0245 0.025" />

      </geometry>
    </collision>
  </link>
  <joint
    name="FR_thigh_joint"
    type="revolute">
    <origin
      xyz="0 -0.08953 0"
      rpy="0 0 0" />
    <parent
      link="FR_hip" />
    <child
      link="FR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5"
      upper="2.5"
      effort="23"
      velocity="20" />
  </joint>
  <link
    name="FR_calf">
    <inertial>
      <origin
        xyz="0 0 -0.0632711777197613"
        rpy="0 0 0" />
      <mass
        value="0.18000000" />
      <inertia
        ixx="0.00153191"
        ixy="0.00000186"
        ixz="-0.00004501"
        iyy="0.00153344"
        iyz="0.00006192"
        izz="0.00004013" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 -0.05 0" xyz="0 0 -0.05" />
      <geometry>
        <cylinder length="0.12" radius="0.010" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.18"
      rpy="0 0 0" />
    <parent
      link="FR_thigh" />
    <child
      link="FR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.3"
      upper="-0.8"
      effort="35"
      velocity="20" />
  </joint>
  <link
    name="FR_calflower">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder length="0.07" radius="0.011" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_calflower_joint"
    type="fixed">
    <origin
      xyz="0.005 0 -0.14"
      rpy="0 -0.1 0" />
    <parent
      link="FR_calf" />
    <child
      link="FR_calflower" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FR_calflower1">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder length="0.02" radius="0.0125" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_calflower1_joint"
    type="fixed">
    <origin
      xyz="-0.002 0 -0.042"
      rpy="0 0.3 0" />
    <parent
      link="FR_calflower" />
    <child
      link="FR_calflower1" />
    <axis
      xyz="0 0 0" />
      </joint>
  <link
    name="FR_foot">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.04" />
      <inertia
        ixx="9.6e-06"
        ixy="0"
        ixz="0"
        iyy="9.6e-06"
        iyz="0"
        izz="9.6e-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.002 0 0" />
      <geometry>
        <sphere radius="0.022" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0 0 -0.20051"
      rpy="0 0 0" />
    <parent
      link="FR_calf" />
    <child
      link="FR_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RL_hip">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.66990104" />
      <inertia
        ixx="0.00054593"
        ixy="-0.00000859"
        ixz="0.00000350"
        iyy="0.00085039"
        iyz="0.00001569"
        izz="0.00061051" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_RL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="0 0.05 0" />
      <geometry>
        <cylinder length="0.08" radius="0.046" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_hip_joint"
    type="revolute">
    <origin
      xyz="-0.2 0.05 0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="RL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1"
      upper="1"
      effort="23"
      velocity="20" />
  </joint>
  <link
    name="RL_thigh">
    <inertial>
      <origin
        xyz="0 -0.0225192600682941 -0.0253114510097742"
        rpy="0 0 0" />
      <mass
        value="1.05418577" />
      <inertia
        ixx="0.00434731"
        ixy="0.00002748"
        ixz="-0.00013288"
        iyy="0.00405071"
        iyz="0.00080271"
        izz="0.00139629" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_L_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.5707963267948966 0" xyz="-0.005 0 -0.1" />
      <geometry>
        <box size="0.11 0.0245 0.025" />

      </geometry>
    </collision>
  </link>
  <joint
    name="RL_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0.08953 0"
      rpy="0 0 0" />
    <parent
      link="RL_hip" />
    <child
      link="RL_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5"
      upper="2.5"
      effort="23"
      velocity="20" />
  </joint>
  <link
    name="RL_calf">
    <inertial>
      <origin
        xyz="0 -0 -0.0632711864020849"
        rpy="0 0 0" />
      <mass
        value="0.18000000" />
      <inertia
        ixx="0.00153252"
        ixy="-0.00000138"
        ixz="0.00003331"
        iyy="0.00153252"
        iyz="0.00006195"
        izz="0.00003952" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 -0.05 0" xyz="0 0 -0.05" />
      <geometry>
        <cylinder length="0.12" radius="0.010" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.18"
      rpy="0 0 0" />
    <parent
      link="RL_thigh" />
    <child
      link="RL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.3"
      upper="-0.8"
      effort="35"
      velocity="20" />
  </joint>
  <link
    name="RL_calflower">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder length="0.07" radius="0.011" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_calflower_joint"
    type="fixed">
    <origin
      xyz="0.005 0 -0.14"
      rpy="0 -0.1 0" />
    <parent
      link="RL_calf" />
    <child
      link="RL_calflower" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RL_calflower1">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder length="0.02" radius="0.0125" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_calflower1_joint"
    type="fixed">
    <origin
      xyz="-0.002 0 -0.042"
      rpy="0 0.3 0" />
    <parent
      link="RL_calflower" />
    <child
      link="RL_calflower1" />
    <axis
      xyz="0 0 0" />
       </joint>
  <link
    name="RL_foot">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.04" />
      <inertia
        ixx="9.6e-06"
        ixy="0"
        ixz="0"
        iyy="9.6e-06"
        iyz="0"
        izz="9.6e-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.002 0 0" />
      <geometry>
        <sphere radius="0.022" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0 0 -0.20051"
      rpy="0 -0.0012583 0" />
    <parent
      link="RL_calf" />
    <child
      link="RL_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RR_hip">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.66990104" />
      <inertia
        ixx="0.00054593"
        ixy="0.00000859"
        ixz="-0.00000350"
        iyy="0.00085039"
        iyz="0.00001569"
        izz="0.00061051" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_RR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="0 -0.05 0" />
      <geometry>
        <cylinder length="0.08" radius="0.046" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_hip_joint"
    type="revolute">
    <origin
      xyz="-0.2 -0.05 0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="RR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1"
      upper="1"
      effort="23"
      velocity="20" />
  </joint>
  <link
    name="RR_thigh">
    <inertial>
      <origin
        xyz="0 0.0223886518464307 -0.026316165403537"
        rpy="0 0 0" />
      <mass
        value="1.05822138" />
      <inertia
        ixx="0.00441919"
        ixy="0.00001398"
        ixz="-0.00005603"
        iyy="0.00423585"
        iyz="-0.00059276"
        izz="0.00128243" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_R_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.5707963267948966 0" xyz="-0.005 0 -0.1" />
      <geometry>
        <box size="0.11 0.0245 0.025" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_thigh_joint"
    type="revolute">
    <origin
      xyz="0 -0.08953 0"
      rpy="0 0 0" />
    <parent
      link="RR_hip" />
    <child
      link="RR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5"
      upper="2.5"
      effort="23"
      velocity="20" />
  </joint>
  <link
    name="RR_calf">
    <inertial>
      <origin
        xyz="0 0 -0.0632711656523452"
        rpy="0 0 0" />
      <mass
        value="0.18000000" />
      <inertia
        ixx="0.00153244"
        ixy="-0.00000145"
        ixz="0.00003519"
        iyy="0.00153344"
        iyz="0.00006194"
        izz="0.00003961" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 -0.05 0" xyz="0 0 -0.05" />
      <geometry>
        <cylinder length="0.12" radius="0.010" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.18"
      rpy="0 0 0" />
    <parent
      link="RR_thigh" />
    <child
      link="RR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.3"
      upper="-0.8"
      effort="32"
      velocity="20" />
   </joint>
  <link
    name="RR_calflower">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder length="0.07" radius="0.011" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_calflower_joint"
    type="fixed">
    <origin
      xyz="0.005 0 -0.14"
      rpy="0 -0.1 0" />
    <parent
      link="RR_calf" />
    <child
      link="RR_calflower" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RR_calflower1">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder length="0.02" radius="0.0125" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_calflower1_joint"
    type="fixed">
    <origin
      xyz="-0.002 0 -0.042"
      rpy="0 0.3 0" />
    <parent
      link="RR_calflower" />
    <child
      link="RR_calflower1" />
    <axis
      xyz="0 0 0" />
      </joint>
  <link
    name="RR_foot">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.04" />
      <inertia
        ixx="9.6e-06"
        ixy="0"
        ixz="0"
        iyy="9.6e-06"
        iyz="0"
        izz="9.6e-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/TOE_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.002 0 0" />
      <geometry>
        <sphere radius="0.022" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0 0 -0.20051"
      rpy="0 0 0" />
    <parent
      link="RR_calf" />
    <child
      link="RR_foot" />
<axis
      xyz="0 0 0" />
  </joint>
  <link
    name="imu">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0 0 0.0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="imu" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>